<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram-Style Post</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <form action="/post" method="post">


    <div class="post-container">
        <h2>Create a Post</h2>
        <textarea id="post-text" placeholder="What's on your mind?" name="caption"></textarea><br>
        <input type="file" id="media-upload" accept="image/*, video/*" name="picture"><br>
        <button >Post</button>
    </div>
    
  
  </form>
</body>
</html>
