<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Post</title>
    <link rel="stylesheet" href="upload.css">
</head>
<body>
  <form action="/problem" , method="post" enctype="multipart/form-data">

    <div class="upload-container">
      <h2>Upload Your Post</h2>
      
          <label for="imageUpload" class="upload-box">
              <input type="file" id="imageUpload" accept="image/*" name="img">
              <span>Click to Upload Image</span>
          </label>
          <input type="text" id="title" placeholder="Enter Post Title" name="title" required>
          <textarea id="description" placeholder="Write a description..." name="description" required></textarea>
          <button type="submit">Post</button>
  
  </div>


  </form>

    
  
</body>
</html>
