.uploadcontainer {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tags-container {
  margin-top: 10px;
}

.tags {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #d1e7dd;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
}
h3{
  text-align: center;
}
#postbtn{
  width: 200px;
  height: 40px;
  margin-left: 250px;
}