* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
 
.footer {
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  color: white;
  padding: 50px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.footer-col {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  text-align: left;
}
.footer-col h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #ffcc00;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col ul li {
  margin: 8px 0;
}
.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.footer-col ul li a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
.social-icons a {
  display: inline-block;
  color: #ddd;
  font-size: 22px;
  margin: 10px;
  transition: transform 0.3s ease-in-out, color 0.3s;
}
.social-icons a:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  color: #bbb;
  border-top: 1px solid #555;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
  .footer-col {
      text-align: center;
  }
}

 
@media (max-width:480px){
  .footer{
    width: 100%;
  }
}